/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "h1 font";
  src: url("./assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf");
}

@font-face {
  font-family: "manrope";
  src: url("./assets/fonts/manrope/Manrope-VariableFont_wght.ttf");
}

@font-face {
  font-family: "fraunces";
  src: url("./assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #24053e;
  position: relative;
}

.big-hero {
  max-width: 63.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 29.6rem;
}

.hero-title {
  font-size: 8rem;
  color: #fff;
  font-family: "h1 font";
  margin-bottom: 4rem;
  line-height: 100%;
}

.hero-title::after {
  content: "\A your needs.";
  white-space: pre;
}

.underline {
  text-decoration: 2px underline #44ffa1;
}

.btn-cyan {
  font-family: "manrope";
  font-size: 1.8rem;
  line-height: 180%;
  font-weight: 700;
  padding: 1.2rem 3.2rem;
  background-color: #44ffa1;
  color: #24053e;
  border: 1px solid #44ffa1;
  cursor: pointer;
  transition: all 0.5s;
}

.btn-cyan:hover {
  color: #44ffa1;
  background-color: #24053e;
}

.img-hero {
  max-width: 76.7em;
  position: absolute;
  top: 100%;
  z-index: 10;
  transform: translateY(-50%);
}

.left-coil {
  position: absolute;
  right: 83%;
}

.right-coil {
  position: absolute;
  left: 91%;
  top: 50%;
}

.nav {
  display: flex;
  max-width: 112rem;
  width: 100%;
  justify-content: space-between;
  margin: 5.6rem 0;
}

.nav-btn {
  font-family: "manrope";
  font-size: 1.8rem;
  line-height: 180%;
  border: none;
  border-bottom: 2px solid #44ffa1;
  color: #fff;
  background-color: #24053e;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
}

.nav-btn:hover {
  color: #44ffa1;
}

.logo {
  max-width: 9.5rem;
  width: 100%;
}

.custom-shape-divider-top-1736800424 {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1736800424 svg {
  position: relative;
  display: block;
  width: calc(125% + 1.3px);
  height: 90px;
}

.shape-fill {
  fill: #24053e;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30rem 6rem 14.4rem 6rem;
  gap: 4rem;
  margin-top: 5rem;
  background-color: #efefef;
  transform: translateY(-7%);
  z-index: -1;
  position: relative;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.number {
  padding: 3rem;
  color: #24053e;
  border: 1px solid #584d62;
  border-radius: 50%;
  max-width: 5.6rem;
  max-height: 5.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "fraunces";
  font-size: 2.4rem;
  line-height: 40%;
  margin-bottom: 5.6rem;
}

.subtitle {
  margin-bottom: 2.8rem;
  font-family: "fraunces";
  font-size: 3.2rem;
  line-height: 120%;
  font-weight: 500;
  color: #24053e;
}

.description {
  color: #24053e;
  font-family: "manrope";
  font-size: 1.8rem;
  line-height: 180%;
}

.custom-shape-divider-top-1736890482 {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1736890482 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 90px;
}

.shape-fill2 {
  fill: #efefef;
}

.founder-box {
  margin-top: 11.2rem;
}

.founder {
  max-width: 47.7rem;
  position: absolute;
  z-index: -1;
  transform: translateX(-30%);
}

.box-purple {
  max-width: 73rem;
  background-color: #24053e;
  padding: 6.4rem;
  transform: translate(35%, 50%);
  margin-bottom: 40.2rem;
}

.box-purple h1 {
  font-family: "fraunces";
  font-size: 5.6rem;
  line-height: 120%;
  color: #fff;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.box-purple p {
  font-family: "manrope";
  font-size: 1.8rem;
  line-height: 180%;
  color: #fff;
  font-weight: 200;
  margin-bottom: 3.2rem;
}

.coil {
  position: absolute;
  transform: translate(150%, -10%);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer img {
  margin-bottom: 5.6rem;
}

.socials {
  display: flex;
  gap: 2.8rem;
  margin-bottom: 8rem;
}
